# --- Node ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# --- Environment Variables ---
.env
.env.*
!env.example

# --- Logs ---
logs
*.log
logs/*.log

# PM2 logs
.pids
*.pid
*.seed
*.pid.lock

# --- Build Output ---
dist/
build/
out/
coverage/

# --- Database ---
drizzle/*.json
drizzle/*.sqlite
drizzle/migrations/*.sql
drizzle/migrations/.cache/
drizzle-kit.json

# For local postgres volumes (docker)
pgdata/
postgres-data/
data/
*.db

# --- OS / Editor Files ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# --- Temp Files ---
tmp/
temp/
*.tmp

# --- Docker ---
docker-compose.override.yml
*.crt
*.key

# --- Misc ---
*.tgz
